.app-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

/* Nagłówki */
h1, h2, h3 {
  margin-bottom: 20px;
}

/* Przyciski */
button {
  background-color: #ff7a00; /* pomarańczowy */
  color: white;
  border: none;
  border-radius: 14px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}